{% extends "main/base.html" %}
{% block title %}Lista postów{% endblock %}
{% block content %}
<h1>Nagłówek listy</h1>
<div class="container overflow-hidden text-center">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 border bg-light"><a href="http://www.google.com" class="link-warning">Google</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light"><a href="http://www.onet.pl" class="link-primary">Onet</a></div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
</div>
{% endblock %}